*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/*
local.properties


\.idea/dictionaries/yesid\.xml

\.idea/
\.idea/*
\app/build
\app/release
